$color-primary: #076686;
$color-secondary: #1891b9;
$color-accent-green: #1bd66f;
$color-accent-yellow: #ffff00;
$color-border: #0000009d;
$color-white: #ffffff;
$color-black: #000000;

$bp-tablet: 768px;
$bp-desktop: 900px;
$bp-landing-tablet: 600px;
$bp-landing-desktop: 1024px;
