@use 'variables' as *;
@use 'mixins' as *;

.landingpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

.welcome {
  font-size: 16px;
}

.pokedex-continue-link {
  font-size: 14px;
  text-decoration: none;
  color: $color-black;
  padding: 8px 16px;
  border-radius: 8px;
}

.pokedex-continue-link:hover {
  text-decoration: underline;
}

@include landing-tablet {
  .landingpage-container {
    gap: 5rem;
  }

  .welcome {
    font-size: 24px;
  }

  .pokedex-continue-link {
    font-size: 18px;
  }
}

@include landing-desktop {
  .landingpage-container {
    gap: 7rem;
  }

  .welcome {
    font-size: 30px;
  }

  .pokedex-continue-link {
    font-size: 25px;
  }
}
