.landingpage-container {
    
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.welcome {
    font-size: 30px;
}

.pokedex-link{
    font-size: 25px;
}