.back-link-container {
  margin-bottom: 3rem;
}

.back-link {
padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.back-link:hover {
  background-color: white;
  color: black;
}

/* mobile: stacked by default */
.three-in-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.the-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  order: -1;

}

.h1 {
  font-size: 2rem; /* slightly smaller on mobile */
  margin-top: 5rem;
}
.pokemon-sprite {
  margin-top: 2rem;
  height: 70px;
  width: auto;
  
}



.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.attributes-container {
  margin-top: 1rem;
}

.description {

  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.pokemon-description-container {
  text-align: center;
  margin-top: 2rem;
}

.pokemon-description {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  background-color: #076686;
  padding: 30px 20px;
}

.pokemon-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 30px;
}

.attributes-container{
  background-color: #1bd66f;
  padding: 1rem;
}

.stats-container {
  background-color: #ffff00;
  padding: 1rem;
}

.stats-container h2,
.attributes-container h2 {
  margin-bottom: 1rem;
}


/* Desktop styles */
@media (min-width: 900px) {
  .three-in-row {
    flex-direction: row;
    justify-content: center;
  }

 .the-middle {
    order: 0; /* reset to original */
  }
  
  .h1 {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .pokemon-sprite {
    margin-top: 2rem;
    height: 100px;
    width: auto;
  }

  .pokemon-description-container {
   
    margin-top: 2rem;
  }

  .pokemon-description {
    margin-top: 6rem;
    padding: 45px 30px;
  }

  .pokemon-info-container {
    flex-direction: row;
    gap: 13rem;
    padding-top: 50px;
  }

  .attributes-container,
  .stats-container {
    padding-right: 4rem;
  }

  .stats-container h2,
  .attributes-container h2 {
    margin-bottom: 2rem;
  }
}
