.back-link-container {
  margin-bottom: 3rem;
  
}

.back-link {
  color: black;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
}

.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.attributes-container {
    
    margin-top: 1rem;
}

.description {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}
.pokemon-description-container {
  text-align: center;
}

.pokemon-description {
  text-align: center;
  color: #fff;
  margin-top: 3rem;
  background-color: #0a95c4;
  padding: 45px 30px;
}

.pokemon-info-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 17rem;

}

.pokemon-sprite {
  width: 170px;
  height: 170px;
}

.stats-container h2 {
  margin-bottom: 2rem;
}

.attributes-container h2 {
  margin-bottom: 2rem;
}