@use 'variables' as *;
@use 'mixins' as *;

.searchbar-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.search-bar {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

@include desktop {
  .search-bar {
    padding: 1rem;
  }
}
